@import"../css/variables";

.Card_box {
    display: flex;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
    // height: 22rem;
    background-color: var(--home-card-background);
    margin-bottom: 0.5rem;
    border-radius: 0.6rem;
    padding: 1.2rem;

    & .Card_subbox_matchesdata {
        background: var(--card-subbox-background);
        width: 100%;
        height: 4rem;
        border-radius: 0.5rem;
        margin-bottom: 0.3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .first_team {
            margin-left: 1rem;
            & .card_flag_box {
                // margin-right: 0.5rem;
                // background-color: rgb(209, 159, 99);
                display: flex;
                // flex-direction: column;
                // justify-content: baseline;
                align-items: center;

                & .flag_img {
                    border-radius: 15rem;
                    background-color: var(--carousel-flag-bg-clr);
                    border: 1px solid var(--flag-boarder-clr);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 2.2rem;
                    height: 2.2rem;

                    img {
                        width: 1.6rem;
                        height: 1.6rem;
                    }
                }

                & .country_name {
                    font-family: var(--font-family);
                    font-size: 0.6rem;
                    // padding: 0;
                    color: var(--text-clr2);
                    margin-left: 0.5rem;
                    // background-color: blueviolet;    
                }
            }
        }
        & .vs_text {
            font-family: var(--font-family);
            font-size: 0.8rem;
            color: var(--text-clr2);
        }
        & .sec_team {
            margin-right:1rem;
            & .card_flag_box {
                // margin-right: 0.5rem;
                // background-color: rgb(209, 159, 99);
                display: flex;
                flex-direction: row-reverse;
                // justify-content: baseline;
                align-items: center;

                & .flag_img {
                    border-radius: 15rem;
                    background-color: var(--carousel-flag-bg-clr);
                    border: 1px solid var(--flag-boarder-clr);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 2.2rem;
                    height: 2.2rem;

                    img {
                        width: 1.6rem;
                        height: 1.6rem;
                    }
                }

                & .country_name {
                    font-family: var(--font-family);
                    font-size: 0.6rem;
                    // padding: 0;
                    margin-right: 0.5rem;
                    color: var(--text-clr2);
                    // background-color: blueviolet;    
                }
            }
        }

    }

}

@include breakpoints ($max_w, $breakpoint-medium) {


    .Card_box {
        display: none;
    }


}