@import"../css/variables";
.container {
    margin: 0px 13.5vw;
    & .centerbox_box1 {
        // height: 25rem;
        background-color: var(--home-card-background);
        // background-color: red;
        margin-bottom: 0.7rem;
        margin-top: 1rem;
        border-radius: 0.6rem;
        

        & .center_box_image {
            width: 100%;

            //    background-color: aqua;
            img {
                border-radius: 0.6rem 0.6rem 0rem 0rem;

                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            
        }

        & .title {
            // padding: 1rem;
            font-family: var(--font-family);
            // font-size: 0.9rem;
            & p {

            }
            
        }
    }

}