@import "../css/variables";

.News {
  margin: 1.5rem 13.5vw 5rem 13.5vw;
  display: flex;
  font-family: var(--font-family);
  gap: 2rem;

  & .News_box1 {
    flex: 4;
    overflow: hidden;
    display: flex;
    margin-top: 1rem;
    border-radius: 0.6rem;
    margin-bottom: 5rem;
    justify-content: baseline;
    align-items: baseline;
    flex-direction: column;

    & .News_box1_drower {
      background-color: #7fffd4;
      display: none;
      width: 100%;
      height: 52rem;
      margin-bottom: 1rem;
      margin-top: 0.5rem;
    }

    & .News_box1_drower_open {
      display: flex;
      width: 100%;
      gap: 1rem;
      margin-bottom: 1rem;
      margin-top: 0.5rem;
      justify-content: center;
      flex-wrap: wrap;
      padding: 1rem 0rem;
      & .News_box1_drower_card {
        width: 100%;
        background-color: var(--home-card-background);
        height: 20rem;
        border-radius: 0rem 0rem 0.5rem 0.5rem;
      }
    }

    & .headingBar {
      width: 100%;
      background-color: var(--home-card-background);
      border-radius: 0.6rem;
      margin-bottom: 0.7rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: var(--font-family);

      & .headingbar_button_box {
        display: flex;
        align-items: center;
        margin: 1rem 2rem;
        gap: 0.5rem;
        overflow: hidden;

        & .headingBar_btn {
          background-color: var(--Livescore-btn-background);
          font-size: 0.9rem;
          padding: 0.7rem;
          border-radius: 2rem;
          margin-bottom: 0.1rem;
          cursor: pointer;
        }

        & .selected {
          background-color: var(--selected-btn-background);
          color: var(--selected-btn-clr);
        }
      }
    }

    & .news_box1_character_cards_box1,
    & .news_box1_character_cards_box2 {
      background-color: rgb(13, 0, 255);
      height: 4rem;
      width: 100%;
      margin-bottom: 0.5rem;
      border-radius: 0.6rem;
      padding-top: 0.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      & .card_toggle_bar {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 0rem 2rem;

        & .box_country_Name_box {
          color: var(--text-clr);
          font-size: 0.8rem;
        }

        & .box_div_down_icon {
          color: var(--text-clr);
          font-size: 1.4rem;
        }
      }
    }
  }

  & .News_box2 {   
    color: var(--text-clr);
    flex: 1;
  }

  table {
    width: 100%;
    border-collapse: collapse; // Ensure borders are combined

    th,
    td {
      border: 1px solid #000; // Add border to table cells
      padding: 8px; // Add padding to cells
      text-align: left; // Align text to the left
    }

    th {
      background-color: #f2f2f2; // Add background color to header cells
    }

    & .thead_text,
    & .thead_text2 {
      background-color: #f2f2f2; // Add background color to header cells
    }

    & .whiteRow {
      background-color: white; // Add background color to white rows
    }

    & .table_flag_img {
      width: 20px; // Adjust flag image size
      height: auto; // Maintain aspect ratio
    }

    & .table_display_data_div {
      display: flex;
      align-items: center;
    }

    & .img_span {
      margin-right: 8px; // Space between image and text
    }
  }
}

//.....................desktop - 1280.......................//
@include breakpoints($max_w, $breakpoint-large) {
  .News {
    margin: 1.5rem 10vw 5rem 10vw;
    gap: 1rem;

    & .News_box1 {
      & .headingBar {
        & .headingbar_button_box {
          margin: 1rem 1rem;
          gap: 0.1rem;
        }
      }
    }
  }
}

//.....................tablet - 1024.......................//
@include breakpoints($max_w, $breakpoint-medium) {
  .News {
    margin: 1.5rem 3vw 5rem 3vw;

    & .News_box1 {
      & .headingBar {
        overflow: visible;

        & .headingbar_button_box {
          overflow: visible;
          flex-wrap: wrap;
          margin: 1rem 1rem;
        }
      }
    }

    & .News_box2 {
      display: none;
    }
  }
}

//.....................mobiles - 768.......................//
@include breakpoints($max_w, $breakpoint-small) {
  .News {
    & .News_box1 {
      & .headingBar {
        & .headingbar_button_box {}
      }
    }
  }
}

//.....................small-mobiles - 420.......................//
@include breakpoints($max_w, $breakpoint-Xsmall) {}
    